

/* =====  about page  ===== */
.about-image img{
    width: 100%;
}
.about-text .title{
    font-size: var(--xxl-font);
    text-align: center;
}
.box.about-item h3{
    color: var(--main-color);
    font-size: var(--xl-font);
    font-weight: 500;
}



/* =====  students reviews  ===== */
.students-reviews .review-user img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    
}
.students-reviews .review-user i{
    color: var(--orange);
}




/* =====  Courses Page  ===== */
.courses .box-container{
    row-gap: 30px;
}



/* =====  Playlist Page  ===== */
.playlist-body{
    background-color: var(--white);
    padding: 15px;
}
.playlist-body-top .normal-btn{
    background-color: var(--light-bg);
    color:var(--light-color);
    font-weight: 500;
}
.playlist-body-top .normal-btn i{
    color: var(--black);
}
.playlist-body-top .normal-btn:hover{
    color: var(--black);
}
.playlist-video-data.flex-between{
    gap: 25px;
    align-items: flex-start;
}

.playlist-video-data .playlist-videos{
    position: relative;
}
.playlist-video-data .playlist-videos .video-base{
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: rgba(0 ,0, 0, .4);
    color: whitesmoke;
    padding: 5px 8px;
    border-radius: var(--radius-sm);
}
.playlist-video-data .playlist-videos img{
    width: 100%;
    height: 300px;
}


/* profile */
.playlist-data .profile img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.playlist-data .profile small{
    font-size: var(--xs-font);
}

.playlist-data .date{
    color: var(--main-color);
}
.playlist-data .date i{
    display: inline-block;
    padding-right: 2px;
}


/* ===== playlist-videos ===== */
.playlist-all-videos .box-container{
    grid-template-columns: repeat(auto-fit, minmax(32%,1fr));
}
.playlist-all-videos .box{
    position: relative;
}

.playlist-all-videos .box .play-icon i{
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    background-color: rgba(0,0,0,0.5);
    width: calc(100% - 30px);
    height: calc(100% - 64px);
    border-radius: var(--radius-sm);
    display: none;
    align-items: center;
    justify-content: center;
    font-size: var(--5xl-font);
    color: var(--white);
    transition: .2s linear;
}
.playlist-all-videos .box img{
    border-radius: var(--radius-sm);
}
.playlist-all-videos .box:hover .play-icon i{
    display: flex;
}
.playlist-all-videos .box:hover {
    box-shadow: none;
}




/* =====  Single Video Page  ===== */
.single-video{
    background-color: var(--white);
    padding: 20px;
    border-radius: var(--radius-sm);
}

.single-video .video{
    border-radius: var(--radius-sm);
    width: 100%;
    height: 100%;
}

.teacher{
    border-top: var(--border);
    padding: 15px 0;
    margin: 15px 0;
}
.profile.d-flex-10{
    justify-content: flex-start;
}
.teacher .profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.normal-btn.give-like{
    background-color: var(--light-bg);
    color: var(--black);
    font-weight: 500;
    cursor: pointer;
}
.normal-btn.give-like i{
    font-size: var(--md-font);
}

.normal-btn.give-like:hover{
    color: var(--main-color);
    border: var(--border);
}

/* ===== single video comment  ===== */
.single-video-comments .comment-box {
    padding:20px;
    background-color:var(--white);
    border-radius: var(--radius-sm);
}
.single-video-comments .comment-box textarea{
    background-color: var(--light-bg);
    border: none;
    resize: none;
}

/* user comments */
.single-video-comments .user-comments{
    margin-top: 25px;
}
.single-video-comments .all-comments{
    background-color: var(--white);
    padding: 20px;
    border-radius: var(--radius-sm);
}

.single-video-comments .comment-text{
    padding: 15px;
    background-color: var(--light-bg);
    border-radius: var(--radius-sm);
}

.delete.delete-btn{
    background-color: var(--red);
}




@media screen and (max-width:769px) {
    .playlist-video-data.flex-between {
        flex-direction: column;
        gap: 40px;
    }
    .playlist-videos.w-50 img{
        height: 280px;
    }
    .playlist-videos.w-50,
    .playlist-data.w-50{
        width: 100%;
    }
}

@media screen and (max-width:580px) {
    .playlist-all-videos .box-container{
        grid-template-columns: repeat(auto-fit, minmax(100%,1fr));
        gap: 40px;
    }
    .playlist-all-videos a.box img{
        width: 100%;
        height: 250px;
    }
}
